

<!--=================================
  loading -->

  <div id="loading">
    <div id="loading-center">
        <img src="https://krushnajena.github.io/Lankeswarimotors/assets/images/loader2.gif" alt="">
   </div>
  </div>
  
  
  
  
  <section class="inner-intro bg-1 bg-overlay-black-70">
    <div class="container">
      
    </div>
  </section>
 
    
    <section class="feature-car new-arrival gray-bg page-section-ptb">
      <div class="container">
       <div class="row">
        <div class="col-md-12">
          <div class="section-title">
             <span>Check out our new cars</span>
             <h2>New Arrival </h2>
             <div class="separator"></div>
          </div>
        </div>
       </div>
      <div class="row">
       <div class="col-md-12">
        <div class="owl-carousel owl-theme" data-nav-arrow="true" data-items="4" data-md-items="4" data-sm-items="2" data-xs-items="1" data-space="30">
         <div class="item">
           <div class="car-item text-center">
             <div class="car-image">
               <img class="img-fluid" src="https://krushnajena.github.io/Lankeswarimotors/assets/images/car/05.jpg" alt="">
               <div class="car-overlay-banner">
                <ul>
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2021</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">Acura Rsx</a>
               <div class="separator"></div>
               <div class="price">
                 <span class="old-price">$45,568</span>
                 <span class="new-price">$42,698 </span>
               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="car-item text-center">
             <div class="car-image">
               <img class="img-fluid" src="https://krushnajena.github.io/Lankeswarimotors/assets/images/car/06.jpg" alt="">
               <div class="car-overlay-banner">
                <ul>
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2021</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">Lexus GS 450h</a>
               <div class="separator"></div>
               <div class="price">
                 <span class="old-price">$55,868</span>
                 <span class="new-price">$51,698 </span>
               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="car-item text-center">
             <div class="car-image">
               <img class="img-fluid" src="https://krushnajena.github.io/Lankeswarimotors/assets/images/car/07.jpg" alt="">
               <div class="car-overlay-banner">
                <ul>
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2021</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">GTA 5 Lowriders DLC</a>
               <div class="separator"></div>
               <div class="price">
                 <span class="old-price">$66,568</span>
                 <span class="new-price">$62,698 </span>
               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="car-item text-center">
             <div class="car-image">
               <img class="img-fluid" src="https://krushnajena.github.io/Lankeswarimotors/assets/images/car/01.jpg" alt="">
               <div class="car-overlay-banner">
                <ul>
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2021</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">Toyota avalon hybrid </a>
               <div class="separator"></div>
               <div class="price">
                 <span class="old-price">$36,568</span>
                 <span class="new-price">$33,698 </span>
               </div>
             </div>
           </div>
         </div>
         <div class="item">
           <div class="car-item text-center">
             <div class="car-image">
               <img class="img-fluid" src="https://krushnajena.github.io/Lankeswarimotors/assets/images/car/02.jpg" alt="">
               <div class="car-overlay-banner">
                <ul>
                  <li><a href="#"><i class="fa fa-link"></i></a></li>
                  <li><a href="#"><i class="fa fa-dashboard"></i></a></li>
                 </ul>
               </div>
             </div>
             <div class="car-list">
               <ul class="list-inline">
                 <li><i class="fa fa-registered"></i> 2021</li>
                 <li><i class="fa fa-cog"></i> Manual </li>
                 <li><i class="fa fa-dashboard"></i> 6,000 mi</li>
               </ul>
            </div>
             <div class="car-content">
              <div class="star">
               <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star orange-color"></i>
                <i class="fa fa-star-o orange-color"></i>
               </div>
               <a href="#">Hyundai santa fe sport</a>
               <div class="separator"></div>
               <div class="price">
                 <span class="old-price">$55,568</span>
                 <span class="new-price">$52,698 </span>
               </div>
             </div>
           </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    
   
  <div class="car-top">
    <span><img src="https://krushnajena.github.io/Lankeswarimotors/assets/images/car.png" alt=""></span>
  </div>
  
   <!--=================================
   back to top -->
  
  
  <!--=================================
   jquery -->
  
  
  